*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar-container{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.logo a img{
  margin-left: 100px;
  width: 100px;
  height: auto;

}

.nav-menu ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
}

.nav-menu ul li a{
  margin: 5px;
  padding: 10px;
  color: #1A1A1A;
}

.nav-menu ul li a:hover, a.active{
  margin: 5px;
  padding: 10px;
  text-decoration: underline #FCAF13;
  color: #FCAF13;
}

.login a{
  font-weight: 500;
  font-size: 18px;
  background-color: #FCAF13;
  color: #1A1A1A ;
  padding: 5px 29px;
  border-radius: 20px;
  transition: .2s ease;
  margin: 5px;
}

.login a:hover{
  background-color: #fff;
  border: 1px solid #FCAF13;
  color: #000;
  border-radius: 20px;
  transition: .2s ease;
  padding: 7px 31px;
  border-radius: 20px;
}

/* hero */
.hero-container{
  background: url(images/car_rental_hero.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.hero-container h1 {
  color: #fff;
  font-size: 40px;
}

/* about */
.about-container{
  background-color: #bbb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

/* services/products */
.services-container{
  background-color: #FCAF13;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

/* login button --added changes */
.btn{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-width: 100vh;
}

/* footer */
.footer-container{
  background-color: #1A1A1A;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

@media screen and (max-width: 768px){
  body{
    display: none;
  }
}
