*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar-container {
  background: #fff;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.checkbtn {
  font-size: 35px;
  color: #FCAF13;
  cursor: pointer;
  float: right;
  display: none;
}

#check {
  display: none;
}


.logo a img{
  width: 300px;
  height: auto;
}

.navmenu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.navmenu ul li a {
  margin: 10px 30px;
  color: #000;
}

.navmenu ul li a:hover {
  margin: 10px 30px;
  color: #000;
}

.navmenu ul li a.active {
  text-decoration: underline 3px #FCAF13;
}

.login a {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  background: #FCAF13;
  border-radius: 3px;
  transition: .2s ease;
}

.login a:hover {
  background: #fff;
  transition: .2s ease;
}

/* hero */
.hero-container{
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5)), url(images/car_rental_hero4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-container {
  text-align: center;
  color: #fff;
}

.text-container h1{
  font-size: 60px;
  padding: 10px 0;
  margin: 20px 0;
}

/* featured cars */
.image-container-carousel {
  align-items: center;
  display: flex;
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
  width: 100vh;
}
.gallery-carousel{
  display: flex;
}

.services-container{
  background-color: #fff;
  height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-products-container {
  display: flex;
  margin: 50px 0;
}

.product {
  margin: 20px;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product img {
  margin: 30px 20px 10px 20px;
  border-radius: 10px;
  border: solid .5px #4949493d;
}

.reserve-button {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background-color: #FCAF13;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: .2s ease;
}

.reserve-button:hover {
  background-color: #c28408;
  transition: .2s ease;
}


/* about */
.about-container {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5)), url(images/car_rental_hero5.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FCAF13;
  color: #fff;
  height: 70vh;
}

.about-text{
  width: 70%;
}

.about-text h2 {
  margin: 10px 0;
  font-size: 40px;
}

.learn-more {
  margin: 30px 20px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background-color: #FCAF13;
  padding: 20px;
  border-radius: 10px;
  width: 20%;
  transition: .2s ease;
}

.learn-more a {
  color: #000;
}

.learn-more:hover{
  background-color:#fff;
  transition: .2s ease;
  transition: .2s ease;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.image {
  filter: grayscale(100%);
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: .3s ease;
}

.image:hover{
  filter: none;
  transition: .3s ease;
}

.quote {
  margin: 20px;
}

.form-container{
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5)), url(images/car_rental_hero6.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.request-quote {
  margin: 30px 20px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background-color: #FCAF13;
  padding: 20px;
  border-radius: 10px;
  width: 20%;
  transition: .2s ease;
}

.request-quote:hover{
  background-color:#fff;
  transition: .2s ease;
  transition: .2s ease;
}

/* footer */
.footer-container{
  background-color: #FCAF13;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  color: #000;
  font-weight: bold;
}

/* services page */
.services-hero-container {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5)), url(images/car_rental_hero5.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.services-products-container {
  background-color: #fff;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* about us page */
.about-hero-container {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5)), url(images/car_rental_hero.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.about-text-container {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5));
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FCAF13;
  color: #fff;
  height: 70vh;
}


@media screen and (max-width: 1025px) {
  .checkbtn {
    display: block;
  }
  .navmenu ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    font-size: 30px;
    font-weight: bold;
    background: #fff;
    text-align: center;
    width: 100%;
    right: -100%;
    top: 100px;
    height: 100%;
    transition: all .5s;
    z-index: 1;
  }
  
  .navmenu ul li {
    margin: 50px 0;
    color: #000;
  }

  .navmenu ul:hover {
    right: 0;
  }

  /* image-container-carousel*/
  .image-container-carousel {
    width: 100%;
  }

  /* featured products */
  .services-container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .featured-products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product {
    margin: 20px;
    width: 60%;
    border-radius: 10px;

  }
  
  .product img {
    margin: 30px 20px 10px 20px;
    border-radius: 10px;
    border: solid .5px #4949493d;
  }

  .learn-more {
    margin: 30px 20px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    background-color: #FCAF13;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    transition: .2s ease;
  }
  
  /* about section */
  .about-container {
    justify-content: center;
    align-items: center;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image{
    width: 67%;
  }
}

@media screen and (max-width: 425px) {
  /* image-container-carousel*/

  .hero-container {
    height: 60vh;
  }
  .image-container-carousel {
    width: 70%;
  }
  .services-container{
    height: auto;
  }
  
  .login{
    display: none;
  }

  .logo a img{
    width: 70%;
  }

  .checkbtn {
    margin-right: 60px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-container h1 {
    font-size: 40px;
  }

  .text-container p {
    width: 50%;
  }

  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .orm-container h2 {
    font-size: 20px;
  }
  .request-quote {
    margin: 30px 20px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    width: 50%;

  }
  
}