*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar-container{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.logo a img{
  margin-left: 100px;
  width: 100px;
  height: auto;

}

.nav-menu ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
}

.nav-menu ul li a{
  margin: 5px;
  padding: 10px;
  color: #1A1A1A;
}

.nav-menu ul li a:hover, a.active{
  margin: 5px;
  padding: 10px;
  text-decoration: underline #FCAF13;
  color: #FCAF13;
}

.login a{
  font-weight: 500;
  font-size: 18px;
  background-color: #FCAF13;
  color: #1A1A1A ;
  padding: 5px 29px;
  border-radius: 20px;
  transition: .2s ease;
  margin: 5px;
}

.login a:hover{
  background-color: #fff;
  border: 1px solid #FCAF13;
  color: #000;
  border-radius: 20px;
  transition: .2s ease;
  padding: 7px 31px;
  border-radius: 20px;
}

/* hero */
.hero-container{
  background: url(images/car_rental_hero.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.hero-container h1 {
  color: #fff;
  font-size: 40px;
}

/* about */
.about-container{
  background-color: #bbb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

/* services/products */
.services-container{
  background-color: #FCAF13;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

/*contact us */
.contactus_hero{

  background: url(images/car_rental_hero6.jpg) no-repeat;
  
  background-position: center;
  background-size: cover;
  height: 120vh;
   
}

.bg{
  display: flex;
  flex-direction: column;
  color: white;
  align-content: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 50%);
  height: 120vh;
}

.row{
  display: flex;
  flex-direction: row;
}
.GIT1{
width: 50%;
  color: black;
  align-self: center;
  justify-content: center;\

  
}

.color1{
margin: 40px;
  padding: 40px;
text-align: center;
}

.GIT{

  color: black;
height: 50%;
  
}

.GIT p{
  margin-right: 20px;
}
.bold{font-weight: bold;}
.color{ 
margin: 40px;
  padding: 20px;
display: flex;
  flex-direction: row;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.map{
  background-position: center;
  text-align: center;}


.contact_form{

  color: black;
  width: 30%;
  padding: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 40vh;
  margin-bottom: 40px;
  opacity: 85%;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.contact_form h2 {margin-bottom: 20px;}



.form-contactus label{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}



/* footer */
.footer-container{
  background-color: #1A1A1A;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

/* Reg & Log-in form design */
.form_design{
  
  background-color: white;
  
  width: 30%;
  padding: 30px;
  
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  justify-content: center;
  align-content: center;
}

.form_design > h1 {
  color: black;
  text-align: center;

  
  margin-bottom: 10px;
  
  border: none;
}

.form_design > p{
  text-align: center;
  
  
 
  border: none;
}

.form_design label {
  
  margin-bottom: 10px;
}

.form_design_Login{
  
  background-color: white;
  
  width: 50%;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.form_design_Login > h1 {
  color: black;
  text-align: center;

  
  margin-bottom: 10px;
  
  border: none;
}

.form_design_Login > p{
  text-align: center;
  
  
 
  border: none;
}

.form_design_Login label {
  
  margin-bottom: 10px;
}

/*input text css like e-mails, passwords bla bla bla For Log-in and Reg form*/
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
    border: none;
  background: #f1f1f1;
  justify-content: center;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

.contact_form input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
    border: none;
  background: #f1f1f1;
  justify-content: center;
  border-radius: 25px;
}

.contact_from input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/*horizontal line design */
.form_design hr {
  text-align: center;
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
  
}

/*button css*/
 .btn{
  background-color: #FCAF13;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  opacity: 0.9;
  align-self: center;
  border-radius: 25px;

}

.btn:hover {
  opacity: 1;
}

/*sign in design*/
.signin {
  background-color: #f1f1f1;
  text-align: center;
padding: 10px;
margin-top: 5px;

  
}

.signin a{
  color: #FCAF13;
}

@media screen and (max-width: 768px){
  body{
    display: none;
  }
}